
<header class="header" id="header">     
    <nav class="nav container">
        <a href="#" id="logo">Lo<span id="logo-span">go</span></a> 
        <!-- /*=========MENU-BAR============*/ -->           
        <ul id="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Inicio</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Galeria</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Sobre nós</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Contato</a></li>
        </ul>
        <!-- /*=========LOGIN============*/ -->            
        <ul id="nav__search">        
            <input type="text" placeholder="Pesquisar aqui">
            <a href="#"><iconify-icon icon="file-icons:ejs"></iconify-icon></a>
        </ul>
    </nav>        
  </header>